# Exercise: Level 3

## 1. Data Types

### Number Types

#### Interger

In [21]:
print(9)
print(3 + 4)

9
7

#### Float

In [22]:
print(0.734)
print(32.3 + 9.8)

0.734
42.099999999999994

#### Complex

In [23]:
print(28 + 2j)
print(232 + 3 - 3j)

(28+2j)
(235-3j)

### String

#### With double quotation

In [24]:
print("Hello World!")
print("I love Arewa Data Science")

Hello World!
I love Arewa Data Science

#### With single quotation

In [25]:
print('Hello World!')
print('I love Arewa Data Science')

Hello World!
I love Arewa Data Science

### Boolean

In [26]:
print(True)
print(False)

True
False

### List

In [27]:
# list of number
print([1, 2, 3])

# list of fruit
print(["apple", "orange", "mango"])

[1, 2, 3]
['apple', 'orange', 'mango']

### Tuple

In [28]:
# tuple of number
print((1, 2, 3))

# tuple of fruit
print(("apple", "orange", "mango"))

(1, 2, 3)
('apple', 'orange', 'mango')

### Set

In [29]:
# set of number
print({1, 2, 3})

# set of fruit
print({"apple", "orange", "mango"})

{1, 2, 3}
{'mango', 'apple', 'orange'}

### Dictionary

In [30]:
# dictionary of name to number pair
print({'one': 1, 'two': 2, 'three': 3})

# dictionary of fruit to quantity pair
print({"apple": 3, "orange": 5, "mango": 1})

{'one': 1, 'two': 2, 'three': 3}
{'apple': 3, 'orange': 5, 'mango': 1}

## 2. Euclidian Distance

In [31]:
import math

# Distance between (2, 3) and (10, 8)
math.sqrt((2 - 10) ** 2 + (3 - 8) ** 2)

9.433981132056603