# Exercises - Day 3

In [28]:
age = 25

In [29]:
height = 11.3

In [30]:
arc = (3 + 5j)

In [31]:
print("Area of a triangle")
base = float(input("Enter base: "))
height = float(input("Enter height: "))
area = 0.5 * base * height
print("The area of the triangle is", area)

Area of a triangle
The area of the triangle is 6.0

In [32]:
print("Perimeter of a triangle")
side_b = float(input("Enter side b: "))
side_a = float(input("Enter side a: "))
side_c = float(input("Enter side c: "))
perimeter = side_a + side_b + side_c
print("The perimater of the triangle is", perimeter)

Perimeter of a triangle

The perimater of the triangle is 17.0

In [33]:
print("Area and perimeter of a rectangle")
width = float(input("Enter width: "))
length = float(input("Enter length: "))
area = width * length
perimeter = 2 * (length + width)
print("The area of the rectangle is", area)
print("The perimater of the rectangle is", perimeter)

Area and perimeter of a rectangle

The area of the rectangle is 15.0
The perimater of the rectangle is 16.0

In [34]:
print("Area and circumfrence of a circle")
radius = float(input("Enter radius: "))
area = 3.14 * radius ** 2
circumfrence = 2 * 3.14 * radius
print("The area of the circle is", area)
print("The circumfrence of the circle is",circumfrence)

Area and circumfrence of a circle
The area of the circle is 6358.5
The circumfrence of the circle is 282.6

In [35]:
# from y = mx + c where y = 2x - 2
slope1 = 2           # m
y_intercept = -2    # c
x_intercept = - y_intercept / slope1 # -c/m

print("Slope:", slope1)
print("X-Intercept:", x_intercept)
print("Y-Intercept:", y_intercept)

Slope: 2
X-Intercept: 1.0
Y-Intercept: -2

9. Slope is (m = y2-y1/x2-x1). Find the slope and Euclidean distance between point (2, 2) and point (6,10)

In [36]:
import math
x1, y1 = 2, 2
x2, y2 = 6, 10
slope2 = (y2-y1) / (x2-x1)
distance = math.sqrt((y2-y1)**2 + (x2-x1)**2)
print("Slope:", slope2)
print("Distance:", distance)

Slope: 2.0
Distance: 8.94427190999916

10. Compare the slopes in tasks 8 and 9.

In [37]:
print("slope 1 == slope 2:", slope1 == slope2)
print("slope 1 > slope 2:", slope1 > slope2)
print("slope 1 < slope 2:", slope1 < slope2)

slope 1 == slope 2: True
slope 1 > slope 2: False
slope 1 < slope 2: False

11. Calculate the value of y (y = x^2 + 6x + 9). Try to use different x values and figure out at what x value y is going to be 0.

In [38]:
x = -3
y = x ** 2 + 6 * x + 9
print("when x is:", x)
print("y is:", y)

when x is: -3
y is: 0

12. Find the length of 'python' and 'dragon' and make a falsy comparison statement.

In [39]:
len1 = len('python')
len2 = len('dragon')

print("Length of 'python' and 'dragon' are not equal:", len1 != len2)

Length of 'python' and 'dragon' are not equal: False

13. Use and operator to check if 'on' is found in both 'python' and 'dragon'

In [40]:
found = 'python'.find('on') > -1 and 'dragon'.find('on') > -1
print("'on' found in both 'python' and 'dragon':", found)

'on' found in both 'python' and 'dragon': True

14. I hope this course is not full of jargon. Use in operator to check if jargon is in the sentence.

In [41]:
s = 'I hope this course is not full of jargon'
found = 'jargon' in s
found

True

15. There is no 'on' in both dragon and python

In [42]:
found = 'python'.find('on') == -1 and 'dragon'.find('on') == -1
found

False

16. Find the length of the text python and convert the value to float and convert it to string

In [43]:
l = len('python')
f = float(l)
s = str(f)

print("length of 'python':", l)
print("convert to float:", f)
print("convert float to string:", s)

length of 'python': 6
convert to float: 6.0
convert float to string: 6.0

17.Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?

In [44]:
number = 3
isEven = number % 2 == 0
print(number, "is even:", isEven)

3 is even: False

18. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.

In [45]:
floor_div = 7 // 3
int_conv = int(2.7)

floor_div == int_conv

True

19. Check if type of '10' is equal to type of 10

In [46]:
'10' == 10

False

20. Check if int('9.8') is equal to 10

In [47]:
int(float('9.8')) == 10

False

21. Writ a script that prompts the user to enter hours and rate per hour. Calculate pay of the person?

In [48]:
hour = int(input("Enter hour: "))
rate = int(input("Enter rate par hour: "))
print("Your weekly earning is:", hour * rate)

Your weekly earning is: 1802

22. Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

In [49]:
year = int(input('Enter number of years you have lived: '))
seconds = year * 365 * 24 * 60 * 60
print("You have lived for", seconds, "seconds")

You have lived for 157680000 seconds

23. Write a Python script that displays the following table

```1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

In [50]:
print("""1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125""")

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125