# Exercises: Level

1. Declare an empty list

In [31]:
list = []

2. Declare a list with more than 5 items

In [32]:
list = ['item 1', 'item 2', 3, 4, 5]

3. Find the length of your list

In [33]:
len(list)

5

4. Get the first item, the middle item and the last item of the list

In [34]:
print('first:', list[0])
print('middel:', list[2])
print('last:', list[4])

first: item 1
middel: 3
last: 5

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [35]:
mixed_data_types = ['Ganiu', '22', 80, 'single', 'ikare']

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [36]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [37]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Print the number of companies in the list

In [38]:
print(len(it_companies))

7

9. Print the first, middle and last company

In [39]:
print('first:', it_companies[0])
print('middel:', it_companies[3])
print('last:', it_companies[6])

first: Facebook
middel: Apple
last: Amazon

10. Print the list after modifying one of the companies

In [40]:
it_companies[0] = 'Meta'
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Add an IT company to it_companies

In [41]:
it_companies.append('Telegram')
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Telegram']

12. Insert an IT company in the middle of the companies list

In [42]:
it_companies.insert(4, 'Think Mind')
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'Think Mind', 'IBM', 'Oracle', 'Amazon', 'Telegram']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [43]:
it_companies[4] = it_companies[4].upper()
print(it_companies)

['Meta', 'Google', 'Microsoft', 'Apple', 'THINK MIND', 'IBM', 'Oracle', 'Amazon', 'Telegram']

14. Join the it_companies with a string '#;  '

In [44]:
'#; '.join(it_companies)

'Meta#; Google#; Microsoft#; Apple#; THINK MIND#; IBM#; Oracle#; Amazon#; Telegram'

15. Check if a certain company exists in the it_companies list.

In [47]:
'Apple' in it_companies

True

16. Sort the list using sort() method

In [48]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Google', 'IBM', 'Meta', 'Microsoft', 'Oracle', 'THINK MIND', 'Telegram']

17. Reverse the list in descending order using reverse() method

In [49]:
it_companies.reverse()
print(it_companies)

['Telegram', 'THINK MIND', 'Oracle', 'Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon']

18. Slice out the first 3 companies from the list

In [50]:
it_companies[3:]

['Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon']

19. Slice out the last 3 companies from the list

In [51]:
it_companies[:-3]

['Telegram', 'THINK MIND', 'Oracle', 'Microsoft', 'Meta', 'IBM']

20. Slice out the middle IT company or companies from the list

In [52]:
it_companies[3:-3]

['Microsoft', 'Meta', 'IBM']

21. Remove the first IT company from the list

In [53]:
it_companies.pop(0)
print(it_companies)

['THINK MIND', 'Oracle', 'Microsoft', 'Meta', 'IBM', 'Google', 'Apple', 'Amazon']

22. Remove the middle IT company or companies from the list

In [54]:
it_companies.remove('Meta')
print(it_companies)

['THINK MIND', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Apple', 'Amazon']

23. Remove the last IT company from the list

In [55]:
it_companies.pop()
print(it_companies)

['THINK MIND', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Apple']

24. Remove all IT companies from the list

In [56]:
it_companies.clear()
print(it_companies)

[]

25. Destroy the IT companies list

In [57]:
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

26. Join the following lists:

In [58]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

dev = front_end + back_end
print(dev)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [64]:
full_stack = dev.copy()
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']